<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766676735584-mhvqv16sgk6uutkccrkn4tbq981dmdb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766676735584-mhvqv16sgk6uutkccrkn4tbq981dmdb0</string>
	<key>API_KEY</key>
	<string>AIzaSyBVnM6OLafcJXCGSBoKShJoQjtrU-psNWM</string>
	<key>GCM_SENDER_ID</key>
	<string>766676735584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.messenger.app.ALLIN</string>
	<key>PROJECT_ID</key>
	<string>allin-787f0</string>
	<key>STORAGE_BUCKET</key>
	<string>allin-787f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766676735584:ios:786b70c99ee7297195d505</string>
</dict>
</plist>